// Cores
$space-dark: #0a041c;      // Azul/roxo escuro do espaço
$space-light: #f0f8ff;     // Branco fantasma (para textos)
$accent-purple: #9f5dff;   // Roxo vibrante para destaques
$accent-cyan: #00f5d4;     // Ciano para botões e detalhes

// Fontes
$font-headings: 'Orbitron', sans-serif; // Fonte futurista para títulos
$font-body: 'Montserrat', sans-serif;   // Fonte limpa e moderna para o corpo
